* {
  font-family: 'Metropolis', sans-serif;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  height: 100%;

  #app {
    overflow: hidden;
    height: 100%;
  }
}

*::selection {
  color: $background-color;
  background-color: $primary-color;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  -webkit-border-radius: 50px;
}