$background-color: #0D0F12;
$surface-color: #2C2A21;
$primary-color: #B560C7;
$secondary-color: #E9E8E2;

$scrollbar-color: #303030;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
